@import url('./fonts/font-awesome.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #405060;
}

html,
body,
#root {
    height: 100%;
}

code {
    font-family: source-ccode-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: #000;
    cursor:auto;
}